
body {
    background-color: #111315;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}

.link {
    color: white;
    border: 3px solid #8B5CF6;
    border-width: 3px;
    border-color: #8B5CF6;
    padding: 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    margin-top: 13rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.containerTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


