body {
    background-color: #111315;
    font-family: 'Poppins', sans-serif;
}

.centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.margin-pulse {
    margin-top: 8rem;
    margin-bottom: 0.5rem;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.title-style {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}

.emoji-container-two img {
    max-width: 100%;
    height: auto;
}

.emoji-container-two {
    width: 18rem;
}

.photo-style {
    border-radius: 0.75rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.margin-top-4 {
    margin-top: 1rem;
}

.titulo-personalizado {
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.div-estilizada {
    margin-top: 8rem;
    color: #94a3b8;
}



